{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Code from https://replit.com/talk/learn/DjangoPython-and-HTML-Coding-Campus-Tutorial-1-Create-a-Blog-with-Django/142238?order=new-->
<!--And https://github.com/Code-Institute-Solutions/Django3blog/blob/master/10_likes/templates/index.html-->

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% get_media_prefix %}welcome.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to Quteba</h5>
        <p>Your economic information exchange hub.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% get_media_prefix %}visit-qblog.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Qblog</h5>
        <p>Quteba blog for your deeper understanding of the economy.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% get_media_prefix %}join-qforum.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block text-white">
        <h5>Qforum</h5>
        <p>Quteba forum to discuss any economics topic.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Recent stories section -->
<div class="container-fluid bg-secondary mb-0">
  <div class="row blog-cards">
    <div class="col-12 mt-4 mb-4 left">
      <h1 class="text-center">RECENT STORIES</h1>
    </div>
    {% for post in post %}
    <div class="col-4 mt-4 left border border-top-0 border-bottom-0">
     <a href="{% url 'post_detail' post.slug  %}" class="text-primary"><h2 class="text-center">{{post.title}}</h2></a>
      <p class="mx-3 pt-3">{{post.excerpt|safe}}</p>
    </div>
    {% endfor %}
    <div class="col-12 mt-5 left text-center">
      <a href="{% url 'blog' %}" class="btn btn-success mb-3 border-rounded"><h5 class="text-center">Read Qblog</h5></a>
    </div>
  </div>
</div>
<!-- Active topics section -->
<div class="container-fluid bg-dark text-white mt-0">
  <div class="row blog-cards">
    <div class="col-12 mt-4 mb-4 left">
      <h1 class="text-center">ACTIVE TOPICS</h1>
    </div>
    {% for thread in thread %}
    <div class="col-4 mt-4 left border border-top-0 border-bottom-0">
     <a href="{% url 'qforum:thread_detail' thread.slug %}" class="text-primary"><h2 class="text-center">{{thread.topic}}</h2></a>
      <p class="mx-3 pt-3">{{thread.description|safe}}</p>
    </div>
    {% endfor %}
    <div class="col-12 mt-5 left text-center">
      <a href="{% url 'qforum:threads' %}" class="btn btn-success mb-3 border-rounded"><h5 class="text-center">Join Qforum</h5></a>
    </div>
  </div>
</div>
{% endblock content %}