{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container account-container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 bg-light">
            <div class="content-section ps-5 mb-5">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user.user_profile.image.url }}" alt="profile image">
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                    <h4>Your Bio:</h4>
                    <p>{{ user.user_profile.bio }} </p>
                    <p> {{user.id }} {{user.user_profile.id}} </p>
                </div>
                {% if user == user.user_profile.user %}
                <span class="mx-4 px-2 d-block">
                    <a class="btn d-inline-block small text-muted" href="{% url 'update-profile' username=request.user %}"><i class="far fa-edit"></i></a>
                    <a class="btn d-inline-block small text-muted" href="{% url 'delete-profile' user.pk %}"><i class="fas fa-trash"></i></a>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}