        <div class=" border-reply ps-2" id="{{comment.id}}">
                <a class="text-black" href="#"> <img class="rounded-circle article-img profile-img"
                    src="{{ thread.name.profile.image.url }}"> {{comment.name}}</a>
                <span class=" badge badge-secondary op-6 text-muted">{{ comment.created|timesince }} ago</span>
         
            <div class="border p-2 rounded border-reply">
                <p class="px-3">{{comment.body}}</p>
                <button class="btn btn-primary btn-sm" onclick="handleReply({{comment.id}})">Reply</button>
            
                <div id="reply-form-container-{{comment.id}}" style="display:none">
                
                    <form method="POST" action="{% url 'qforum:reply' %}" class="mt-3">
                        {% csrf_token %}
                        <input type="hidden" name="thread_id" value="{{thread.id}}">
                        <input type="hidden" name="parent" value="{{comment.id}}">
                        <input type="hidden" name="thread_url" value="{{thread.get_absolute_url}}">
    
    
                        {{comment_form.as_p}}
    
                        <div>
                            <button type="button" onclick="handleCancel({{comment.id}})" class="btn btn-light border btn-sm">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            {% for comment in comment.get_comments %}
                {% include 'qforum/comment.html' with comment=comment %}
            {% endfor %}
    </div>        
