{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid pt-3 px-lg-5">
    <div class="row mx-lg-4 mx-md-2 mx-sm-2 mx-1 px-xl-5 px-lg-2 px-1 shadow bg-light">
        <div class=" col-md-12 d-md-block">
            <div class="px-2 px-sm-5 py-5">
                <h3 class="mb-3">Update your forum entry.</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <a href="{% url 'qforum:thread_detail' thread.slug %}" class="btn btn-primary mt-3">Cancel</a>
                    <button class="btn btn-success mt-3 ms-4">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}