{% extends "base.html" %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href='{% static "qforum/css/qforum.css" %}' type="text/css" />
{% endblock extracss %}

{% block extrahead %}
<script src="https://kit.fontawesome.com/1334675705.js" crossorigin="anonymous"></script>
<script src="{% static 'qforum/js/qforum.js'%}"></script>
{% endblock extrahead%}
{% block content %}
<!--Code from https://replit.com/talk/learn/DjangoPython-and-HTML-Coding-Campus-Tutorial-1-Create-a-Blog-with-Django/142238?order=new-->
<!--And https://github.com/Code-Institute-Solutions/Django3blog/blob/master/10_likes/templates/index.html-->
<div class="container-fluid">
  <div class="row">
    <div class="col-10 mt-5 pt-5">
      <h1 class="text-primary text-center">Quteba Forum</h1>
      <!-- Code from https://www.bootdey.com/snippets/view/bs5-forum-list -->
      <!--<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">-->
    </div>
    <div class="col-md-1">
    </div>
  </div>  
<div class="row mb-5">
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
    {% block details %}
    {% endblock details %}
  </div>
  <div class="col-md-2">
    {% include 'qforum/side_bar.html' %}
  </div>
  <div class="col-md-2">
  </div>
</div>
</div>
{% endblock content %}