{% extends "base.html" %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href='{% static "/qforum/css/qforum.css" %}' type="text/css" />
{% endblock extracss %}

{% block extrahead %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static '/qforum/js/forum_detail.js'%}"></script>
<script src="{% static '/qforum/js/forum_list.js'%}"></script>
{% endblock extrahead%}
{% block content %}
<div class="container-fluid m-0 p-0">
    <div class="row mb-5 gx-0 mt-5 ps-5">
        {% block details %}
        {% endblock details %}
        {% block sidebar %}
        {% endblock sidebar %}
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}