{% load static %}
<div class="row">
    <div class="col-md-12 left-indent">
        {% for reply in replies %}
        <a class="text-black" href="#">
            {% if reply.name.profile.image %}
            <img class="rounded-circle article-img profile-img" src="{{ reply.name.profile.image.url }}">
            {% else %}
            <img class="rounded-circle article-img profile-img" src="{% get_media_prefix %}default.jpg">
            {% endif %}
            {{reply.name}}</a>
        <span class="op-6 text-muted">{{ reply.created|timesince }} ago</span>
        {% if request.user == reply.name %}
        <span class="op-6 px-3 text-muted"><i class="fa-solid fa-pen-to-square"></i></span>
        <span class="op-6 text-muted"><i class="fa-solid fa-trash small"></i></span>
        {% endif %}
        <p class="px-3 mt-2"> {{reply.content}}</p>

        <div class="row">
            <div class="col-md-1">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn text-muted border-0 bg-white" type="submit">
                        <i class="fa-regular fa-thumbs-up"> </i>
                    </button>
                    {% if reply.no_of_likes %}
                    <span>{{ reply.no_of_likes }}</span>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-1">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn text-muted border-0 bg-white" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ reply.dislikes.all.count }}</span></i>
                    </button>
                    {% if reply.no_of_dislikes %}
                    <span>{{ reply.no_of_dislikes }}</span>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm" data-bs-toggle="collapse" data-bs-target="#reply-form-{{reply.id}}"
                    aria-controls="reply-form-{{reply.id}}">
                    <i class="fa-solid fa-comment text-muted"></i> <span>Reply</span></button>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="collapse" id="reply-form-{{reply.id}}">
            {% if user.is_authenticated %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ comment_form.content }}
                <button type="button" onclick="hideForm()" class="btn btn-light border btn-sm">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% else %}
            <h2>You need to Login to reply</h2>
            {% endif %}
        </div>
        {% if reply.replies.count > 0 %}
        {% load reply_tree %}
        {% reply_tree reply %}
        {% endif %}
        {% endfor %}
    </div>
</div>