     <h4 class="px-3 py-3 pt-0 op-5 m-0"> Active Topics </h4>
      {% for thread in thread_list %}
      <hr class="m-0">
      <div class="pos-relative px-3 py-3">
        <h6 class="text-primary text-sm">
          <a href="{% url 'qforum:thread_detail' thread.slug %}" class="text-primary">{{ thread.topic|title}}</a>
        </h6>
        <p class="mb-0 text-sm"><span class="d-inline-block text-sm text-muted">Posted</span> <a class="d-inline-block text-sm text-muted" href="#">{{ thread.created_on|timesince }}</a> 
          <span class="d-inline-block text-sm text-muted">ago by</span> <a class="d-inline-block text-sm text-muted" href="#">{{thread.name}}</a></p>
      </div>
      {% endfor %}