{% extends "qforum/forum_base.html" %}
{% load static %}

{% block details %}
<div class="card row-hover pos-relative px-3">
  <div class="row shadow-lg align-items-center">
    <div class="col-md-8 mb-3 mb-sm-0">
      <img class="rounded-circle article-img profile-img" src="{{ thread.name.profile.image.url }}">
      <a class="text-black" href="#"> {{thread.name}}</a>
      <span class="op-6 text-muted">| {{ thread.created_on|timesince }} ago</span>
      <h5 class="text-primary">{{ thread.topic}}</h5>
      <p> {{thread.description|safe}} </p>
    </div>
    <div>
      <i class="ion-connection-bars icon-1x"></i> <span class="d-inline-block text-sm text-muted">{{number_of_likes}} <i
          class="fa-solid fa-thumbs-up"></i></span>
      <i class="ion-ios-chatboxes-outline icon-1x"></i> <span
        class="d-inline-block text-sm text-muted">{{no_of_comments}} <i class="fa-solid fa-comments"></i></span>
      <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-inline-block text-sm text-muted">{{no_of_comments}} <i
          class="fa-solid fa-eye"></i></span>
      <h4 id="comment-form" class="btn" data-toggle="collapse" data-target="#comment-form{{thread.id}}" aria-controls="comment-form{{thread.id}}">Comment <i class="fa-solid fa-angle-down"></i></h4>
      <span class="btn text-muted"><i class="fa-solid fa-ellipsis"></i></span>
    </div>
    <hr>
    <div class="collapse" id="comment-form{{thread.id}}">
      {% if user.is_authenticated %}
      <form method="POST" action="{% url 'qforum:thread_detail' thread.slug %}">
        {% csrf_token %}
        {{ form.content }}
        <button type="button" onclick="hideForm()" class="btn btn-light border btn-sm">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% else %}
      <h2>You need to Login to comment</h2>
      {% endif %}
    </div>
    <hr>
    {% for comment in comments %}
    {% if not comment.parent %}
    <div class="row">
      <div class="col-md-12 left-indent">
        <a class="text-black" href="#">
          {% if comment.name.profile.image %}
          <img class="rounded-circle article-img profile-img" src="{{ comment.name.profile.image.url }}">
          {% else %}
          <img class="rounded-circle article-img profile-img" src="{{ '../quteba/media/default.jpg' }}">
          {% endif %}
          {{comment.name}}</a>
        <span class=" badge badge-secondary op-6 text-muted">{{ comment.created|timesince }} ago</span>
        <p class="px-3 mt-2"> {{comment.content}}</p>
        <span class="btn text-muted"><i class="fa-regular fa-thumbs-up"></i>{% if comment.no_of_likes %}
          {{comment.no_of_likes}}{% endif %} </span>
        <span class="btn text-muted"><i class="fa-regular fa-thumbs-down"></i></span>
        <button class="btn btn-sm" data-toggle="collapse" data-target="#reply-form{{comment.id}}" aria-controls="reply-form{{comment.id}}">
          <i class="fa-solid fa-comment text-muted"></i> Reply</button>
        <span class="edit-btn text-muted btn"><i class="fa-solid fa-ellipsis"></i></span>
        <div class="collapse" id="reply-form{{comment.id}}">
          {% if user.is_authenticated %}
          <form method="POST" action="{% url 'qforum:thread_detail' thread.slug %}">
            {% csrf_token %}
            {{ form.content }}
            <button type="button" onclick="hideForm()" class="btn btn-light border btn-sm">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {% else %}
          <h2>You need to Login to comment</h2>
          {% endif %}
        </div>
        {% if comment.is_parent %}
        {% load reply_tree %}
        {% reply_tree comment %}
        {% endif %}
      </div>
    </div>
    {% endif%}
    {% endfor %}
  </div>
</div>
{% endblock details %}