{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static '/qforum/js/forum_detail.js'%}"></script>
<script src="{% static '/qforum/js/forum_list.js'%}"></script>
{% endblock extrahead%}
{% block content %}
<div class="container-fluid m-0 p-0">
    <div class="row mb-5 gx-0 mt-5 ps-5">
        <div class="col-md-8 ms-5 me-4 mt-3">
            <div class="modal fade bg-light-green" id="addForumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% if user.is_authenticated %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ask a question</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST" autocomplete="off" id="create-forum-form">
                                {% csrf_token %}
                                {{thread_form|crispy}}
                                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                            </form>
                        </div>
                        {% else %}
                        <h5 class="modal-title text-center">You need to login to create a forum</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-md-8 text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addForumModal">Create Forum</button>
                </div>
            </div>
            <div id="thread-box">
                {% for thread in thread_list %}
                <div class="card shadow-lg row-hover pos-relative px-3 mb-3 rounded-2 left-border">
                    <div class="row pb-3 align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">
                            <img class="rounded-circle article-img profile-img" src="{{ thread.name.user_profile.image.url }}">
                            <a class="text-black" href="{% url 'profile' %}"> {{thread.name}}</a> <span class="op-6 text-muted">|
                                {{ thread.created_on|date:"Y-m-d"}}</span>
                            <h5 class="pt-3 px-3">
                                <a href="{% url 'qforum:thread_detail' thread.slug %}" class="text-primary">{{ thread.topic|title}}</a>
                            </h5>
                            <div class="px-3">
                                {{thread.description|safe}}
                            </div>
                        </div>
                        <div class="px-4">
                            <span class="d-inline-block text-sm text-muted"> <i class="fa-solid fa-caret-up"></i>
                                {{thread.no_of_upvotes}} </span>
                            <span class="d-inline-block text-sm text-muted mx-3"> <i class="fa-solid fa-caret-down"></i>
                                {{thread.no_of_downvotes}} </span>
                            <span class="d-inline-block text-sm text-muted mx-3"><i class="fa-solid fa-comments"></i>
                                {{thread.comments.count}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% block sidebar %}
        {% include 'qforum/side_bar.html' %}
        {% endblock sidebar %}
    </div>
</div>
{% endblock content %}
<script type="text/javascript">
    $(document).ready(function() {
        const threadBox = document.getElementById('thread-box')
        const url = window.location.href
        const getCookie = (name) => {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $('#create-forum-form').submit(function(e) {
            e.preventDefault();
            var topic = document.getElementById('id_topic')
            var description = document.getElementById('id_description')
            var category = document.getElementById('id_category')
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: url,
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'topic': topic.value,
                    'description': description.value,
                    'category': category.value,
                },
                cache: false,
            }).done(function(response) {
                threadBox.insertAdjacentHTML('afterbegin', `
            <div class="card shadow-lg row-hover pos-relative px-3 mb-3 rounded-2 left-border">
            <div class="row pb-3 align-items-center">
            <div class="col-md-8 mb-3 mb-sm-0">
                <img class="rounded-circle article-img profile-img" src="${response.profile}">
                <a class="text-black" href="#"> ${response.name}</a> <span class="op-6 text-muted">
                | ${response.created}</span>
                <h5 class="pt-3 px-3">
                    <a href="${url}${response.slug}" class="text-primary">${response.topic}</a>
                </h5>
                <div class="px-3">
                    ${response.description}
                </div>
            </div>
            <div class="px-4">
                <span class="d-inline-block text-sm text-muted"> <i class="fa-solid fa-caret-up"></i>
                     </span>
                <span class="d-inline-block text-sm text-muted mx-3"> <i class="fa-solid fa-caret-down"></i>
                     </span>
                <span class="d-inline-block text-sm text-muted mx-3"><i class="fa-solid fa-comments"></i>
                    </span>
            </div>
        </div>
    </div> `)
                $('#addForumModal').modal('hide');
                $(this).trigger('reset');
            });
        });
    })
</script>