{% extends "qforum/forum_base.html" %}
{% load static %} 

{% block details %}
          <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <img class="rounded-circle article-img profile-img" src="{{ thread.name.profile.image.url }}">
                <a class="text-black" href="#"> {{thread.name}}</a> 
                <span class="op-6 text-muted">| {{ thread.created_on|timesince }} ago</span>
                <i class="ion-connection-bars icon-1x"></i> <span class="d-inline-block text-sm text-muted">14 Votes</span>
                <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-inline-block text-sm text-muted">12 Replies</span>
                <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-inline-block text-sm text-muted">90 Views</span>
                <h5>
                  <a href="#" class="text-primary">{{ object.topic}}</a>
                </h5>
                <p> {{object.description|safe}} </p>
                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#C++</a> <a class="text-black mr-2" href="#">#AppStrap Theme</a> <a class="text-black mr-2" href="#">#Wordpress</a> </div>
              </div>
              {% if thread.replies %}
              <div class="col-md-8 mb-3 mb-sm-0">
                  <img class="rounded-circle article-img profile-img" src="{{ thread.name.profile.image.url }}">
                  <a class="text-black" href="#"> {{thread.name}}</a> <span class="op-6 text-muted">| {{ thread.created_on|timesince }} ago</span>
                  <p>{{thread.replies|safe}} </p>
              </div>
              {% endif %}
            </div>
          </div>
{% endblock details %}

       