{% extends "base.html" %}
{% load static %} 

{% block content %}

<div class="container shadow-lg bg-body rounded" id="container-resume">
  <div class="row">
    {% for post in post_list %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">Author: {{post.author}}</p>
                <a href="#" class="post-link">
                  <h2 class="card-title">  {{post.title}} </h2>
                 
                </a> 
                {{post.content}}
            </div>
        </div>
    </div>
    {% endif%}
    {% endfor %}
  </div>
                                
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>
       {% endblock content %}

       