.modal {
    max-height: 450px;
    max-width: 600px;
    background-color: #282c34;
    top: 75px;
    left: 240px;
}

#question-form {
    border: #282c34 1px solid;
}

.comment-form {
    display: none;
}

.comment-reply-form {
    display: none;
}

.reply-box {
    padding-left: 10px;
    border: red 2px solid;
}

.search-form {
    max-width: 300px;
    display: inline-block;
}

#btn-create-forum {
    width: 100%;
    margin: 0;
    padding: 0;
}

.text-area {
    width: 450px !important;
}

.left-indent {
    position: relative;
    margin-left: 17px;
    border-left: rgba(51, 51, 51, 0.2) 1px solid;
}